In [4]:
import yfinance as yf
import pandas as pd
import numpy as np

In [36]:
data=yf.download(tickers='SBIN.NS ITC.NS',period='2d',interval='5m')
#data[['Close','High','Low']]
data

[*********************100%***********************]  2 of 2 completed

                            Adj Close                   Close              \
                               ITC.NS     SBIN.NS      ITC.NS     SBIN.NS
Datetime
2021-03-31 09:15:00+05:30  213.850006  361.399994  213.850006  361.399994
2021-03-31 09:20:00+05:30  215.699997  361.649994  215.699997  361.649994
2021-03-31 09:25:00+05:30  215.949997  359.950012  215.949997  359.950012
2021-03-31 09:30:00+05:30  215.300003  361.350006  215.300003  361.350006
2021-03-31 09:35:00+05:30  215.199997  361.899994  215.199997  361.899994
...                               ...         ...         ...         ...
2021-04-01 15:05:00+05:30  220.000000  369.600006  220.000000  369.600006
2021-04-01 15:10:00+05:30  220.149994  370.450012  220.149994  370.450012
2021-04-01 15:15:00+05:30  220.000000  371.200012  220.000000  371.200012
2021-04-01 15:20:00+05:30  220.050003  370.850006  220.050003  370.850006
2021-04-01 15:25:00+05:30  220.050003  371.000000  220.050003  371.000000

                                 High                     Low              \
                               ITC.NS     SBIN.NS      ITC.NS     SBIN.NS
Datetime
2021-03-31 09:15:00+05:30  214.100006  361.649994  212.949997  358.149994
2021-03-31 09:20:00+05:30  215.699997  362.000000  213.550003  360.500000
2021-03-31 09:25:00+05:30  216.149994  362.000000  215.500000  359.799988
2021-03-31 09:30:00+05:30  215.949997  361.700012  215.050003  359.950012
2021-03-31 09:35:00+05:30  215.500000  362.399994  215.199997  361.049988
...                               ...         ...         ...         ...
2021-04-01 15:05:00+05:30  220.100006  369.649994  219.949997  369.000000
2021-04-01 15:10:00+05:30  220.199997  370.750000  220.000000  369.549988
2021-04-01 15:15:00+05:30  220.250000  371.450012  220.000000  370.250000
2021-04-01 15:20:00+05:30  220.199997  371.850006  220.000000  370.399994
2021-04-01 15:25:00+05:30  220.149994  371.250000  219.949997  370.500000

                                 Open               Volume
                               ITC.NS     SBIN.NS   ITC.NS  SBIN.NS
Datetime
2021-03-31 09:15:00+05:30  214.100006  360.200012        0        0
2021-03-31 09:20:00+05:30  213.850006  361.350006  1211381   760827
2021-03-31 09:25:00+05:30  215.550003  361.649994   929347   764189
2021-03-31 09:30:00+05:30  215.949997  360.000000   397222   468881
2021-03-31 09:35:00+05:30  215.399994  361.250000   209695   625970
...                               ...         ...      ...      ...
2021-04-01 15:05:00+05:30  220.000000  369.200012   340062   362621
2021-04-01 15:10:00+05:30  220.050003  369.700012   377985   984534
2021-04-01 15:15:00+05:30  220.100006  370.450012   503891  1071345
2021-04-01 15:20:00+05:30  220.050003  371.399994   581237  1197531
2021-04-01 15:25:00+05:30  220.050003  370.850006   524338   583868

[150 rows x 12 columns]